@import url(/assets/css/poppins.css);
@import url(/assets/css/bootstrap.icon.css);
* {
    font-family: "Poppins" !important;
}
.logout-button {
    cursor: pointer;
    border: 1px solid #f8f9fa;
    color: #f8f9fa;
    transition: all 0.3s ease-in-out;
    border-radius: 0.1rem;
}
.logout-button:hover {
    background-color: #f8f9fa !important;
    color: #0d6efd;
}
.enter-room-button {
    cursor: pointer;
    border: 2px solid #f8f9fa;
    color: #f8f9fa;
    transition: all 0.3s ease-in-out;
    border-radius: 0.1rem;
    width: 40%;
    min-width: 100px;
    max-width: 150px;
}
.create-room-button {
    cursor: pointer;
    border: 2px solid #f8f9fa;
    color: #f8f9fa;
    transition: all 0.3s ease-in-out;
    border-radius: 0.1rem;
    width: 40%;
    min-width: 100px;
    max-width: 150px;
}
.room-button {
    display: flex;
    justify-content: center;
}
.enter-room-button:hover {
    background-color: #f8f9fa !important;
    color: #0d6efd;
}
.create-room-button:hover {
    background-color: #f8f9fa !important;
    color: #0d6efd;
}
.room-button > *:nth-child(1) {
    border-right: 0px;
}
.room-button > *:nth-child(2) {
    margin-left: -1px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
section#chat {
    height: max-content;
    min-height: 0;
}
.chat-bg {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100vh;
    top: 0;
    background: url(/assets/image/bg.jpg);
    background-position: 100% 50%;
    background-size: cover;
    background-origin: center center;
}
.circle {
    margin-left: -10px;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #000000;
    display: inline-block;
    position: absolute;
}

/* CSS talk bubble */
.message {
    border-radius: 0.5rem;
    color: #f8f9fa !important;
    margin: 0;
    display: inline-block;
    position: relative;
    height: auto;
    background-color: #0d6efd;
}

.other-user-message:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -15px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 17px solid;
    border-color: #0d6efd transparent transparent transparent;
}
.user-message:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -15px;
    top: auto;
    bottom: 0;
    border: 17px solid;
    border-color: transparent transparent #0d6efd transparent;
}
.message.user-message {
    margin-left: auto;
}
.message.system-message {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.1rem;
}
.message.system-message > .messagetext {
    padding: 0.3rem 1.6rem;
}
/* talk bubble contents */
.messagetext {
    padding: 0.6rem;
    text-align: left;
    line-height: 1.5em;
}
.messagetext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.list-group-item {
    transition: all 0.1s ease-in;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-color: #6c757d55 !important;
}
.list-group-item + .list-group-item.active {
    margin-top: unset !important;
}
