<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chatApp | <%= title %></title>
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./assets/css/style.css" />
    </head>

    <body class="bg-light">
        <main class="d-flex flex-wrap">
            <nav class="navbar bg-primary sticky-top px-5 py-1 d-flex justify-content-between col-12">
                <div class="nav-list col-2 lead fs-4 fw-800 text-light app-name">ChatApp</div>
                <div class="nav-list col-8 text-center">
                    <div class="room-button">
                        <div class="enter-room-button d-inline px-3 py-3 fw-700">Enter Room!</div>
                        <div class="create-room-button d-inline px-3 py-3 fw-700">Create Room!</div>
                    </div>
                </div>
                <div class="nav-list col-2 text-end"><div class="logout-button d-inline px-3 py-2 fw-600">Logout</div></div>
            </nav>
            <section id="rooms" class="w-50">
                <div class="list-group rounded-0"></div>
            </section>
            <div class="chat-bg"></div>
            <section id="chat" class="container-fluid row g-0 w-50">

                <div class="col-12 d-flex px-5 pt-3 message-container">
                    <div data-bs-toggle="tooltip" data-bs-title="You" data-bs-custom-class="custom-tooltip" class="message user-message">
                        <div class="messagetext"><p>qweqweqwe</p></div>
                    </div>
                </div>

            </section>
            <footer class="footer position-fixed bottom-0 end-0 px-5 pb-3 bg-transparent w-50">
                <div class="input-group mb-3">
                    <input disabled type="text" class="form-control border-primary message-input" placeholder="ketik pesan mu" />
                    <button disabled class="btn btn-primary send-button" type="button">Kirim</button>
                </div>
            </footer>
        </main>
        <script src="./assets/js/sweetalert.min.js"></script>
        <% if (login) { %>
        <input type="hidden" name="login" value="true" />
        <% } else { %>
        <input type="hidden" name="username" value="<%= name %>" />
        <% } %>
        <script src="./assets/js/bootstrap.min.js"></script>
        <script src="./assets/js/socket.io.min.js"></script>
        <script src="./assets/js/script.js"></script>
    </body>
</html>
